.el-input-group__prepend {
    border-right: 0;
    width: 16px;
    background-image: url("../../static/images/user.png");
    background-repeat: no-repeat;
    background-position: center;


}
 .el-input-group__prepend {
    background-color: #f5f7fa;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #dcdfe6;
    padding: 0 16px;
    width: 1px;
    white-space: nowrap;
}

.el-submenu__title{
    text-align: left;
}
